.loading {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: #2c2c2ce6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading span{
    color: #fff;
    font-size: 28px;
}

.mytable {
    vertical-align: middle;
    line-height: 30px;
}

.mynumbertable tr td{
    font-size: 36px;
    border: solid 1px black;
}


.customDatePickerWidth, 
.customDatePickerWidth > div.react-datepicker-wrapper, 
.customDatePickerWidth > div > div.react-datepicker__input-container
.customDatePickerWidth > div > div.react-datepicker__input-container input {
   width: 100%;
}

.react-time-picker__button
{
    display: contents;
}


.dropdown-menu {
    height: 200px;
    overflow-y: scroll;
}

body, div, b {
    font-size: 20px;
}